<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/styles/verified.css">
    <title>Account Already Verified</title>
</head>
<body>
    <div class="success">
        <img id="successIcon" src="../static/icons/tyler.png">
        <div class="description">
            <h2 id="title">Poop</h2>
            <p>Your account has already been made!</p>
            <p>bruhbruhhbruh</p>
        </div>
    </div>
</body>
</html>